link(rel="stylesheet", href="/public/estilos_vistas/nav_menu.css")

div(class="row")
    div(class="col-2 align-self-center")
        ul(class="nav justify-content-center") 
            li(Class="nav-item m-1 align-self-center")
                a(class="", href='/home') 
                    img(class="logo img-fluid", src="public/iconos/logo.svg")
    div(class="col-10  barra")
        div(class="col  p-2")
           ul(class="nav justify-content-end") 
                li(Class="nav-item opc_ico")
                     a(class="", href='/home') 
                        img(class="ico", src="public/iconos/facebook.svg")
                li(Class="nav-item opc_ico")
                     a(class="", href='/home') 
                        img(class="ico", src="public/iconos/youtube.svg")
                li(Class="nav-item opc_ico")
                     a(class="", href='/home') 
                        img(class="ico", src="public/iconos/whatsapp.svg")
        div(class="col  p-2")
           ul(class="nav justify-content-end") 
                li(Class="nav-item mr-2 opcion")
                    a(class="nav-link", href='/home')  Home
                li(Class="nav-item mr-2 opcion")
                    a(class="nav-link", href='/menu') Menú
                li(Class="nav-item mr-2 opcion")
                    a(class="nav-link", href='/home') Servicios
                li(Class="nav-item mr-2 opcion")
                    a(class="nav-link", href='/contactos') Contactos
                li(Class="nav-item mr-2 opcion")
                    a(class="nav-link", href='/nosotros') Nosotros
                li(Class="nav-item mr-2 opcion")
                    a(class="nav-link", href='/home') 
                        img(class="ico_usuario", src="public/iconos/usuario.svg")
                li(Class="nav-item mr-2 opcion")
                    a(class="nav-link", href='/home') 
                        img(class="ico_carta", src="public/iconos/carta.svg")
            
